body {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  font-family: Poppins, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to bottom, #e0f7fa, #c5cae9);


}
